<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <video id="video"></video>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  var stream;
  var video;
  navigator.mediaDevices.getUserMedia({video: true, audio: false}).then(function (stream) {
    stream = stream;
    video = document.getElementById('video');
    video.src = window.URL.createObjectURL(stream);
    video.play();
  }).catch(function (error) {
    console.error('mediaDevice.getUserMedia() error:', error);
    return;
  });
<% end %>
